/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: url(assets/images/WP01.jpg) center center no-repeat;
  background-attachment: fixed;
}

.bg-login {
  background: url(assets/images/WP04.jpg) center center no-repeat;
  background-attachment: fixed;
}

.bg-register {
  background: url(assets/images/WP05.jpg) center center no-repeat;
  background-attachment: fixed;
}
